@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root {
    --dark: #001220;
    --org: #FBAE3C
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    position: relative;
    left: 0;
    transition: all 1s ease;
}

.loginpage {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("./src/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-out;
}

.container2 {
    overflow: hidden;
    height: 80vh;
    width: 60vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    color: white;
    backdrop-filter: blur(15px);
}

.images {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: all 1s ease;
}

.imgs {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: slideAnimation 24s infinite ease-out;
}

.imgs:nth-child(1) {
    animation-delay: 4s;
}

.imgs:nth-child(2) {
    animation-delay: 10s;
}

.imgs:nth-child(3) {
    animation-delay: 16s;
}

@keyframes slideAnimation {

    0%,
    100% {
        transform: translateX(100%);
    }

    25%,
    75% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }
}


.unactive {
    display: none;
}


.moveright {
    transform: translateX(200%);
}

.formdiv {
    display: flex;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    position: relative;
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo .O {
    color: white;
    font-size: 8vh;
    font-family: "Ubuntu";
}

.logo .L {
    color: white;
    font-size: 3vh;
    font-weight: 800;
    font-family: "Ubuntu";
}

.welcome {
    margin-top: 2vh;
    font-size: 3vh;
}

.org {
    font-family: "Ubuntu";
    font-size: 4vh;
    font-weight: 700;
    margin-top: 2vh;
}

.inputbox {
    height: 6vh;
    width: 80%;
    border-radius: 20px;
    border: 0px;
    margin-top: 1vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);

}

.flag {
    position: absolute;
    left: 1vh;
    width: 5vh;
    height: 2vh;
}

.countrycode {
    position: absolute;
    left: 7vh;
    color: black;
    font-size: 2vh;
    font-weight: bold;
    /* font-weight: 600; */
    font-family: "Ubuntu";
}

.phonenumber {
    position: absolute;
    left: 12vh;
    width: 70%;
    height: 80%;
    font-family: "Ubuntu";
    font-size: 2vh;
    border: 0;
}

input:focus {
    outline: none;
}

.Loginbtn {
    margin-top: 5vh;
    width: 75%;
    height: 9%;
    border-radius: 20px;
    font-family: "Ubuntu";
    font-size: 3vh;
    font-weight: 800;
    background-color: #dcdcdc;
    color: white;
    border: 0;
    box-shadow: 0 7px 11px #5315cf38;
    transition: all 0.5s ease;
}

.direction {
    margin: 2vh 0vh;
    font-size: 1.5vh;
    font-family: "ubuntu";
}


.homepage {
    height: 100vh;
    width: 100vw;
    background-image: url("./src/images/blob-scene-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 100%;
}


header {
    position: relative;
    user-select: none;
    top: 0px;
    left: 0px;
    width: 95vw;
    /* font-family: 'Poppins', sans-serif; */
    padding: 20px 50px;
    display: flex;
    margin-top: 2vh;
    height: 2vh;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: white;
    color: black;
}

.logo2 {
    font-size: 2em;
    user-select: none;
}

.navigation{
    display: flex;
}
.navigation h3 {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 2vh;
}

.navigation h3::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    left: 0px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navigation h3:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.homepagecontent {
    display: flex;
    position: absolute;
    visibility: visible;
    align-items: center;
    justify-content: center;
    height: 95vh;
    overflow: hidden;
    width: 100vw;
    border: "0px";
}

.libraryimage {
    position: absolute;
    top: 10vh;
    height: 40vh;
    width: 60vw;
    background-image: url("./src/images/education.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}

.darkbox {
    position: absolute;
    top: 10vh;
    height: 40vh;
    width: 60vw;
    border-radius: 20px;
    background-color: black;
    opacity: .5;

}

.centerinfo {
    position: absolute;
    top: 4vh;
    height: 40vh;
    width: 60vw;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border-radius: 20px;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 4vh;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(99, 97, 97, 0.8);
}

.cities {
    position: absolute;
    top: 44vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
}

.city{
    position: relative;
    height: 8vh;
    display: flex;
    align-items: center;
    width: 10vw;
    border: 1px solid rgb(102, 102, 101);
    border-radius: 20px;
    background: white;
}
.city img{
    height:80%;
    margin: 5% 3%;
    width: 35%;
    border-radius: 15px;
    
}
.city p{
    color: black;
    display: inline;
    /* font-family: 'Poppins', sans-serif; */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    font-weight: 500;
    margin-left: 0.5vh;
    font-size:2vh;
    
}
.atbotoom{
    position: absolute;
    height: 20vh;
    width: 70vw;
    border: 2px solid rgb(138, 133, 133);
    bottom: 0;
    border-radius: 4vh;
    background-color: white;
    display: flex;
    
    align-items: center;
    justify-content:center;
    box-shadow: 0 11px 11px #FCAF3C;
}

.atbotoom P{
    font-size:6vh;
    font-weight: bolder;
}

/* .Home{
    height: 99vh;
    width: 100vw;
    display: none;
    position: absolute;
    top:9vh;
    font-family:  'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.Study{
    height: 99vh;
    width: 100vw;
    display: none;
    position: absolute;
    top:9vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.batchinfobacground{
    height: 10vh;
    width: 60vw;
    position: absolute;
    top: 7vh;
    background-image: url("./src/images/normal-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 3vh;
    display: flex;
    align-items: center;
    font-weight: bold;
    
}
.batchinfobacground h2{
    margin-left:3vh;
}

.batchinfotabs{
    height: 5vh;
    position: absolute;
    width: 60vw;
    user-select: none;
    cursor: pointer;
    top:17vh;
    display: flex;
    align-items: center;
    background: white;
}
.batchinfotabs p{
    margin-left: 2vh;
}
.selectedTabInfo{
    height: 35vh;
    width: 60vw;
    border: 2px solid rgb(112, 116, 116);
    position: absolute;
    top:25vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    background: white;
}


.Descriptiontab p{
    font-size: 2vh;
    font-weight: 500;
    margin-left: 1vh;
    margin-top: 1vh;
}
.details{
    height: 6vh;
    width: 20vw;
    display: flex;
    margin-left: 1vh;
    margin-top: 1vh;
}
.image img{
    height: 100%;
    width: 100%;
}
.details .image{
    margin-left: .1vh;
    margin-top: .1vh;
    height: 90%;
    width: 15%;

}
.bigright {
    height: 100%;
    width: 100%;
}
.div1, .div2{
    height: 50%;
    width: 100%;
    margin-left:1vh;
}
.div1{
    color: #7c7373;
}
.div2{
    font-size:1.5vh;
    font-weight:500;
}
.Descriptiontab{
    display: none;
}
.All_classestab{
    display: none;
}
.All_classestab p{
    margin:0vh 2vh;
    font-size:3vh;
    font-weight: 600;   
}
.subheading{
    margin-left:2vh;
    margin-top:1vh;
    font-size: 1.5vh;
}
.buttonsWrapper{
    display: flex;
}

.subjectbtns{
    height: 6vh;
    width: 12vw;
    margin-left: 2vh;
    margin-top: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1.5vh;
    display: flex;
}
.img{
    height: 95%;
    width: 35%;
    align-items: center;
}
.img img{
    height: 100%;
    width: 100%;
}


.Teststab{
    display: none;
}
.littlesmall{
    width : 95%;
    height: 95%;
    margin: auto;
    background-color: #a7b3bb63;
    border-bottom-left-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    border-bottom-right-radius: 5vh;
}
.Announcementstab{
    display: none;
}
.announcementContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.announc{
    margin-top: 3vh;
    height: 80%;
    width: 20%;
    border-bottom-left-radius: 3.5vh;
    border-bottom-right-radius: 3.5vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.mention{
    height: 20%;
    width: 100%;
    background: #7363fc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.alert{
    height: 20%;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert h3{
    font-size: 2vh;
    padding-bottom:1vh;
}
.mention h3{
    font-size: 2vh;
}
.message p{
    padding:1vh;
}

.Companion{
    height: 99vh;
    width: 100vw;
    position: absolute;
    display: none;
}


.wrapper{
    position: absolute;
    top: 1vh;
    left: 1vh;
    height: 95%;
    width: 99%;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.offer{
    height: 55%;
    width: 85%;
    user-select: none;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 1vh;
}

.justSkele{
    height: 70%;
    width: 100%;
    display: flex;
    
}
.first{
    margin: 2vh;
    font-size: 7vh;
    font-weight: bold;
    display: flex;
}
.bluetext{
    color: #7363fc;
}
.makichut{
    margin-left: 2vh;
    font-size: 7vh;
    font-weight: bold;
    position: absolute;
    top: 14vh;
}

.offerContent{
    height: 100%;
    width: 70%;
}
.offerImage{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offerImage img{
    height:35vh;
}

.specs{
    margin-top: 2.5vh;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
}
.btnn{
    display: flex;
    height:fit-content;
    width: 25vh;
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    /* border:2px solid goldenrod */
}
.svgg{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */

}
.svgg svg{
    height: 100%;
    width: 85%;
    
}
.contenttt{
    width: 70%;
    height: 100%;
    /* border: 2px solid cyan; */
    display: flex;
    flex-direction: column;
}
.heading{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 2vh;
    font-weight: 500;
    margin-left:.5vh;
    margin-top: 1vh;
}
.descripton{
    width: 100%;
    height: 30%;
    margin-left:.5vh;
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
}
.second{
    position: absolute;
    margin-top:6vh;
    margin-left: 2vh;

    font-size: 2vh;
    color: grey;
}
.third{
    display: flex;
    margin-top: 18vh;
    margin-left: 2vh;
}

.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vh;
    height: 7vh;
    border-radius: 1vh;
    font-size: 1.6vh;
    font-weight: bold;
    color: white;
    background-color: #7363fc;
    border: 2px solid #7363fc;
}
.btn2{
    width: 20vh;
    height: 7vh;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    color: #7363fc;
    font-size:1.5vh;
    font-weight: bold;
    border: 3px solid #7363fc;
}
.coach{
    height: 25%;
    width: 85%;
    user-select: none;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 1vh;
}

.connect{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.subjectss{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.maths{
    height: 45%;
    width: 20%;
    
    position: relative;
}
.mathsbg{
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 2px solid gold; */
    background-color: #f1efff;
    border-top-left-radius: 15vh;
    position: absolute;
    border-bottom-left-radius: 2vh;
}

.subimage{
    height: 100%;
    width: 40%;
}
.subimage img{
    
    width: 100%;
}
.mathsbg .heading{
    margin-top: 2.5vh;
    font-size:3vh
}
.Batches{
    height: 99vh;
    display: none;
    width: 100vw;
    justify-content: center;
}

.batchcollection{
    display: flex;
    height: 90%;
    width: 90%;
    margin-top: 1vh;
    flex-direction: column;
}
.Batchnav{
    height: 7%;
    user-select: none;
    width: 100%;
    background: white;
    color: black;
    border-radius: .9vh;
}
.items{
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.items P{
    display: flex;
    align-items: center;
    justify-self: center;
}
.items img{
    height: 50%;
    width: 20%;
}
.items p:nth-child(1){
    margin-left: 1vh;
    padding: 1vh;
    width: 35%;
    border-radius: .5vh;
    border: .01vh solid rgba(128, 128, 128, 0.527);
}
.items p:nth-child(2) {
    font-size: 3vh;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.541);
}
.allBatches{
    width: 100%;
    height: 90%;
    margin-top: 1.5vh;
    
}
.row1,.row2{
    display: flex;
    margin-top: .5vh;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}
.batches{
    height: 95%;
    width: 20%;
    background: white;
    border: 1px solid grey;
    border-radius: 1.5vh;
}
.batch_title{
    height: 15%;
    width: 100%;
    display: flex;
    font-size: 2.5vh;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.batchimage{
    height: 40%;
    width: 95%;
    margin: auto;
    margin-top: .5vh;
}

.alldetails{
    height: 40%;
    width: 95%;
    margin: auto;
}
.imageanddetails{
    height: 25%;
    width: 100%;
    font-size: 1vh;
    display: flex;
}
.classvg{
    height: 100%;
    width: 15%;
}
.classvg img{
    height: 90%;
    padding-top: .5vh;
    width: 100%;

}
.upperdivdet{
    font-size: 1.2vh;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: .9vh;
}
.priceandbuttons{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.price{
    font-size: 2vh;
    font-weight: bold;
    color:#7363fc;
}
.batchimage img{
    width: 100%;
    height: 100%;
    margin-bottom: 0.5vh;
    border-radius: 1vh;
}
.buynow{
    height:70%;
    width: 65%;
    margin-left: 1vh;
    border-radius: 1vh;
    background: #7363fc;
    color: white;
    font-size: 2vh;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Contact_Us{
    height: 70vh;
    width: 90vw;
    display: none;
    align-items: center;
    justify-content: center;
}

.container
{
    position: relative;
    min-width: 70vh;
    min-height: 40vh;
    display: flex;
    z-index: 1000;

}

.container .contactInfo
{
    position: absolute;
    top: 5vh;
    width: 350px;
    height: 45vh;
    background: #7363fc;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15); 
    border-radius: 22px;
}

.container .contactInfo h2
{
    color: #fff;
    font-size:24px;
    font-weight: 500;
}

.container .contactInfo ul.info 
{
   position: relative;
   margin: 20px 0; 
}

.container .contactInfo ul.info li
{
   position: relative;
   list-style: none;
   display: flex;
   margin: 20px 0;
   cursor: pointer;
   align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.container .contactInfo ul.info li span a
{
    color: #fff;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
    
}

.container .contactInfo ul.info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci
{
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li
{
   list-style: none;  
   margin-right: 15px;
}

.container .contactInfo ul.sci li a
{
   text-decoration: none;
}

.container .contactInfo ul.sci li a img
{
   filter: invert(1);
}

.container .contactForm
{
    position: absolute;
    padding: 10vh 5vh;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    border-radius: 22px;
}

.container .contactForm h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.contactForm h2{
    margin-left: 10vh;
}
.formBox{
    margin-left: 10vh;
}
.container .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox
{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50
{
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100
{
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea 
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea 
{
    height: 120px;
}

.container .contactForm .formBox .inputBox span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span, 
.container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
} 

/* Css for the submit button */
.container .contactForm .formBox .inputBox input[type="submit"]         
{
    position: relative;
    cursor: pointer;
    background: #095a55;
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #0d9480;
}

@media (max-width: 1200px)
{
    .container
    {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    .container .contactInfo
    {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
    }

    .container .contactForm
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 991px)
{
    section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff38e;
    }

    section::before
    {
        display: none;
    }

    .container
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm
    {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .container .contactInfo
    {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }
    .container .contactInfo ul.sci
    {
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

.button-list {
    position: absolute;
    top: 0px; /* Added units */
    left:0px; /* Added units */
    height: 100%; /* Added units */
    width: 15%;
    background-color: #fdfbfb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px; /* Adjust padding as needed */
    /* border-right: 2px solid orange; Adding a border to the right */
    
  }
  
  
  /* Style for the buttons */
  .button-list button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-bottom: 5px; /* Adjust margin as needed */
    background-color: #fefefe;
    color: rgb(2, 2, 2);
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;

   
  }
  
  /* Hover effect */
  .button-list button:hover {
    background-color: rgb(252, 220, 159);
    color:rgb(194, 30, 30);
  }
  .search-container {
    top:0px;
    left:0px;
    position:absolute;
    top:50px;
    margin-top: 1vh;
    margin-left: 16vh;
    left:450px;
    /* box-shadow: 0 20px 20px rgb(248, 194, 93); */
  }

  .search-container input[type="text"] {
    /* align-items:right ; */
    padding: 10px;
    width: 700px; /* Adjust width as needed */
    border-radius: 5px;
    border: 4px solid #020202;
    margin-right: 5px;
    /* box-shadow: 0 5px 5px rgb(248, 194, 93); */
}
 /* ***********************************************************   
  } */
  
  .search-container button[type="submit"] {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .search-container button:hover[type="submit"]{
    background-color: white;
    color: black;
  }
  .button-row {
 
    position: absolute;
    display: flex;
    top: 47%; /* Adjust this value to center vertically */
    left: 30%;
   max-width: fit-content;
    text-align: center;
   
  }
  .hover-button {
    padding: 10px 20px;
    margin: 5px;
    width: 150px;
    background-color: rgba(245, 239, 239, 0.3);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0px solid #030005;
    border-radius: 5px;
  }
  
  /* Hover effect */
  .hover-button:hover {
    background-color: #7363fc;
    /* background-color:rgb(252, 220, 159); */
    /* color:rgb(194, 30, 30); */
    color: white;
  }
  
  .slideshow-container {
    position: absolute;
    top: 30%; /* Adjust this value to center vertically */
    left: 55%; /* Adjust this value to center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust or remove the width and height restrictions */
    width: 850px;
    height: 200px;
   
  }
  
  .slide {
    display: none;
    /* Set dimensions for the slides */
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire slide */
  }
  
    
    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: black;
      color: orange;
      font-size: 20px;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }
    
    .prev {
      left: 0;
    }
    
    .next {
      right: 0;
    }
    .containercources1 {
      
     
        width: 70%;
        height: 10%;
        position: absolute;
        background-color: rgba(245, 239, 239, 0.3);
        /* box-shadow: 0 0 20px rgb(245, 199, 94); */
        backdrop-filter: blur(5px);
        color: white;     
        /* left:50%; */
        display: flex;
        font-size: 20px;
        text-align: left;
        top:55%;
        left:22%;
        padding: 30px;
        flex-direction:row;
        
        /* align-items: center; */
        border-radius: 15px;
    }
    .containercources2 {
        backdrop-filter: blur(5px);
        width: 70%;
        height: 10%;
        position: absolute;
        background-color: rgba(245, 239, 239, 0.3);
        /* box-shadow: 0 0 20px rgb(245, 199, 94); */
        color: white;     
        /* left:50%; */
        display: flex;
        font-size: 20px;
        top:75%;
        left:22%;
        padding: 30px;
        text-align: left;
        flex-direction: column;
        /* align-items: center; */
        border-radius: 15px;

    }

    .ccimg1 {
        position: absolute;
        margin: 5px;
        width:10% ;
        top:5%;
        left:84%;
        align-items: right;
        margin-top: 15px;
        border-radius: 15px;
  
      }

      .ccimg2 {
        position: absolute;
        margin: 5px;
        width:10% ;
        top:5%;
        left:84%;
        align-items: right;
        margin-top: 15px;
        border-radius: 15px;
  
      }
      .cc-button {
        /* align-items:i; */
        padding: 10px 20px;
        margin: 5px;
        width:fit-content;
        /* background-color:rgb(245, 227, 139); */
        color:black;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 0px solid #030005;
        border-radius: 5px;
        background-color: rgba(167, 165, 165, 0.527);
        color: white;
    }
    .cc-button:hover {
        background-color: #7363fc;
        /* background-color:rgb(252, 220, 159); */
        /* color:rgb(194, 30, 30); */
        color: white;
      }